# PYCHARM
.idea
.git
venv

# BACKEND
chatgptwordle/backend/__pycache__/
chatgptwordle/chatgptwordle/__pycache__/
chatgptwordle/chatgptwordle/migrations/__pycache__/
chatgptwordle/db.sqlite3

# FRONTEND

chatgptwordle/chatgptwordle/frontend/node_modules
chatgptwordle/chatgptwordle/frontend/.pnp
chatgptwordle/chatgptwordle/frontend/.pnp.js

# testing
chatgptwordle/chatgptwordle/frontend/coverage

# production
chatgptwordle/chatgptwordle/frontend/build

# misc
chatgptwordle/chatgptwordle/frontend/.DS_Store
chatgptwordle/chatgptwordle/frontend/.env.local
chatgptwordle/chatgptwordle/frontend/.env.development.local
chatgptwordle/chatgptwordle/frontend/.env.test.local
chatgptwordle/chatgptwordle/frontend/.env.production.local

chatgptwordle/chatgptwordle/frontend/npm-debug.log*
chatgptwordle/chatgptwordle/frontend/yarn-debug.log*
chatgptwordle/chatgptwordle/frontend/yarn-error.log*